.Reserve {
  background: linear-gradient(var(--color-primary), var(--color-primary-light));
  color: var(--color-white);
  text-align: left;

  h2 {
    margin-bottom: 0;
  }

  // section {
  //   padding: 2rem;
  // }
  h1 {
    margin: 2rem 2rem 0 2rem;
  }
}

.Banner {
  background-image: url("/src/assets/stock.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 300px;
  display: flex;

  align-items: flex-end;

  img {
    width: 100%;
    color: blue;
  }
}

.PersonButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    height: 30px;
  }

  span {
    color: var(--color-white);
    font-size: 20px;
    font-weight: bold;
    font-family: "Palanquin", sans-serif;
  }
}

.PersonSelectSection {
  padding: 0 2rem 2rem 2rem;
}

.DateSection {
  padding: 2rem;
  background-color: var(--color-white);
  border-radius: 50px 0 0 0;

  h2 {
    color: var(--color-primary);
  }

  label {
    color: var(--color-text-light-grey);
    font-weight: bold;
  }
}

.TimeslotSelectSection {
  padding: 2rem 2rem 0 2rem;
}

.ButtonSection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.TimeSlotSelect {
  button {
    background-color: rgba(255, 255, 255, 0.226);
    border: none;
  }
}
